* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 720px;
    height: 780px;
    margin: 0 auto;
    /* background: white; */
    background-image: radial-gradient(rgb(189, 188, 188) 1px, transparent 0);
    background-size: 5px 5px;
}

h1 {
    margin: 20px;
    color: #937DC2;
    text-align: center;
    font-size: 30pt;
}

.sub-container {
    margin: 20px;
    padding: 15px;
    display: flex;
}

#top-container {
    background-color: #C689C6;
    justify-content: space-between;
}

#mid-container {
    background-color: #FFABE1;
    justify-content: space-evenly;
}

#bottom-container {
    background-color: #C689C6;
    justify-content: space-between;
}

img {
    height: 200px;
    background-color: #FFE6F7;
}

#footer {
    /* justify-content: center; */
    padding-bottom: 20px;
    display: block;
    text-align: center;
}

