* {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col, .col-2, .col-3 {
    background-color: darkcyan;
    color: whitesmoke;
    font-size: 20pt;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px 20px;
}

.col {
    flex: 1;
}

.col-2 { 
    flex: 2;
}

.col-3 {
    flex: 3;
}